.games {
  display: grid;
  grid-template-columns: 300px auto;
  padding-bottom: 100px;
}

.games__info {
  padding-right: 10px;

}

.games__info p {
    padding-bottom: 25px;
}

.games__title {
  padding-bottom: 10px;
}

.games__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  padding: 1px;
  gap: 1px;
}

.games__content-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 17px 22px;
  border-collapse: collapse;
}

.games__content-img {
  padding-bottom: 10px;
}

.games__content-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #070707;
  line-height: 1.1;
}

.games__content-link {
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  padding-top: 40px;
  display: inline-block;
  margin-top: auto;
}


@media (max-width : 768px) {
  .games {
    padding-bottom: 50px;
  }

  .games {
    display: block;
  }

  .games__info {
    margin: 40px 0;
    text-align: center;
    }

  .games__content {
    margin: 0 auto;
  }
}

@media (max-width : 525px) {
  .games__content {
    display: block;
  }
}